/* Card.css */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}

.card-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "one two two"
    "three two two"
    "four four five";
}

.card {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  color: white;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card .cardTitle {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--primary-text);
}

.card .description {
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--secondary-text);
}

/* ---- CARDS CSS ---- */
.card:nth-child(1) {
  grid-area: one;
}

.card:nth-child(2) {
  grid-area: two;
}

.card:nth-child(3) {
  grid-area: three;
}

.card:nth-child(4) {
  grid-area: four;
}

.card:nth-child(5) {
  grid-area: five;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}